.navbar {
    text-align: center;
    padding: 3%;
    background-color: rgb(12, 91, 128);
    font-weight: 600;
    font-size: 25px;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

.container {
    margin-top: 18px;
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 2px;
    border: 1px solid;
    border-radius: 25px;
    background-color: rgba(24, 88, 117, 0.264);
}

.add-book {
    background-color: #fff;
    border: 1px solid #000000;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

input[type="number"],
input[type="text"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 10px;
}

.form-book-element {
    padding-left: 18px;
    padding-bottom: 18px;
}

.form-book-element > label {
    font-weight: 600;
    font-size: 20px;
}

.form-book-element > button {
    font-size: 20px;
    padding: 8px;
    border-radius: 18px;
}

.search {
    margin-top: 18px;
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 2px;
    border: 1px solid;
    border-radius: 25px;
    background-color: rgba(24, 88, 117, 0.264);
    padding-left: 18px;
}

.search > .cari {
    width: 90%;
}

.search > label {
    font-size: 25px;
}

.search button {
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
}

.mulai-baca {
    margin-top: 18px;
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 2px;
    border: 1px solid;
    border-radius: 25px;
    background-color: rgba(24, 88, 117, 0.264);
    padding-left: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.selesai-baca {
    margin-top: 18px;
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 2px;
    border: 1px solid;
    border-radius: 25px;
    background-color: rgba(24, 88, 117, 0.264);
    padding-left: 18px;
}

.footer {
    font-size: 1.2rem;
    background-color: rgb(12, 91, 128);
    color: #ffffff;
    padding: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

